<p class="alert-danger">{{mensagem}}</p>
<p style="text-align:center;"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Instituto_Federal_de_Bras%C3%ADlia_-_Marca_Vertical_2015.svg"  width="250" height="250"></p>
<h1><p style="text-align:center;">Bem-vindo(a) ao SGATCC - IFB</p></h1>
<form ng-submit="autenticar()">
    <div class="login-page">
        <div class="form">          
          <form class="login-form">
            <input type="text" ng-model="usuario.login" placeholder="Nome"/>
            <input type="password" ng-model="usuario.senha" placeholder="Senha"/>
            <button>login</button>
            <p class="message"> <a href="/#/usuarios/new">Criar conta</a></p>
            <br>
            <a class="btn btn-primary btn-block" href="/#/principalExt">
              <h4>Área externa/Visualizar cadastros</h4>
            </a>
          </form>
        </div>
      </div>
      <h3><p style="text-align:center;">&copy; Sistema de Gerenciamento e Acompanhamento de Trabalhos de Conclusão de Curso - IFB</p></h3>
</form>

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: 0 auto;
    
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  border-radius: 5px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: solid 1px #4CAF50;
  border-radius: 10px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 384px;
  margin: 0 auto;
  margin-top: 50px;
  
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
  
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

img {
margin-top: -40px;
}

h1 {
  color: black;
  font-weight: 800;
  margin-bottom: -20px;
}


  .btn-primary {
    background-color: rgb(36, 247, 36);
  }

.btn-primary:hover {
    /*background-color: rgb(8, 104, 32);*/
    background: linear-gradient(81deg, rgba(30,80,39,1) 35%, rgba(14,190,56,1) 100%);
  
  }
  .container-fluid {
  
  }
</style>