<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/#/principalext"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Instituto_Federal_de_Bras%C3%ADlia_-_Marca_Vertical_2015.svg" width="120" height="120"></a>
    <a class="navbar-brand" href="/#/principalext">Área cadastro de Alunos</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/#/principalext">Alunos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/profs">Professores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#/relatorioTCC">Relatórios</a>
          </li>
      </ul>
      
     
    </div>
  </nav>
  </html>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/#/fotos/new" class="btn btn-primary" type="button">
						Cadatrar novo trabalho
					</a>
				</span>
				<input class="form-control" placeholder="Filtrar por: Nome, trabalho, e-mail do aluno ou áreas de interesse" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>

		<a class="btn btn-primary btn-block" href="/#/fotos/edit/{{foto._id}}">
			Editar
		</a>
		<meu-botao-perigo nome="Remover" acao="remover(foto)">Remover</meu-botao-perigo>
    </meu-painel>
</div>
  
  <footer class="bg-light text-dark">
    <div class="container-fluid py-3">
    <div class="row">
      <div class="col-4">
        <ul class="nav flex-column">
          <li class="nav-link"><a href="/#/principalext">Inicio</a></li>
          <li class="nav-link"><a href="https://www.ifb.edu.br/contato" target="_blank">Contato</a></li>
          <li class="nav-link"><a href="/#/login">Deslogar</a></li>
        </ul>
      </div>
      <div class="col-8">
        <p>
           <h5>SGATCC - Canais oficiais Instituto Federal de Brasília</h5>
        </p>
        <ul class="nav">
          <li class="nav-link" ><a href=https://www.facebook.com/IFBrasilia/ target="_blank" class="fab fa-facebook fa-3x "></a></li>
          <li class="nav-link"><a href=https://www.instagram.com/ifbrasilia/ target="_blank" class="fab fa-instagram fa-3x"></a></li>
          <li class="nav-link"><a href=https://mobile.twitter.com/ifbnoticias target="_blank" class="fab fa-twitter fa-3x"></a></li>
          <li class="nav-link"><a href=https://www.ifb.edu.br/contato target="_blank" class="fab fa-whatsapp fa-3x"></a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="text-center" style="background-color: rgba(224, 230, 240, 0.858); padding: 20px;" >
      &copy 2022 Copyright:Projeto Alunos Instituto Federal de Brasília
    </div>
  </footer>
</body>          
  
</html>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/#/principal"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Instituto_Federal_de_Bras%C3%ADlia_-_Marca_Vertical_2015.svg" width="120" height="120"></a>
    <a class="navbar-brand" href="/#/principal">Área cadastro de Alunos</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/#/principal">Alunos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#/profs">Professores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#/relatorioTCC">Relatórios</a>
          </li>
      </ul>
      
     
    </div>
  </nav>
  </html>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/#/fotos/new" class="btn btn-primary" type="button">
						Cadatrar novo trabalho
					</a>
				</span>
				<input class="form-control" placeholder="Filtrar por: Nome, trabalho, e-mail do aluno ou áreas de interesse" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>

		<a class="btn btn-primary btn-block" href="/#/fotos/edit/{{foto._id}}">
			Editar
		</a>
		<meu-botao-perigo nome="Remover" acao="remover(foto)">Remover</meu-botao-perigo>
    </meu-painel>
</div>
  
  <footer class="bg-light text-dark">
    <div class="container-fluid py-3">
    <div class="row">
      <div class="col-4">
        <ul class="nav flex-column">
          <li class="nav-link"><a href="/#/principal">Inicio</a></li>
          <li class="nav-link"><a href="https://www.ifb.edu.br/contato" target="_blank">Contato</a></li>
          <li class="nav-link"><a href="/#/login">Deslogar</a></li>
        </ul>
      </div>
      <div class="col-8">
        <p>
           <h5>SGATCC - Canais oficiais Instituto Federal de Brasília</h5>
        </p>
        <ul class="nav">
          <li class="nav-link" ><a href=https://www.facebook.com/IFBrasilia/ target="_blank" class="fab fa-facebook fa-3x "></a></li>
          <li class="nav-link"><a href=https://www.instagram.com/ifbrasilia/ target="_blank" class="fab fa-instagram fa-3x"></a></li>
          <li class="nav-link"><a href=https://mobile.twitter.com/ifbnoticias target="_blank" class="fab fa-twitter fa-3x"></a></li>
          <li class="nav-link"><a href=https://www.ifb.edu.br/contato target="_blank" class="fab fa-whatsapp fa-3x"></a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="text-center" style="background-color: rgba(224, 230, 240, 0.858); padding: 20px;" >
      &copy 2022 Copyright:Projeto Alunos Instituto Federal de Brasília
    </div>
  </footer>
</body>          
  
</html>

